<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">F3XVault Data Entry</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="#">Entry</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class=""><a href="/contact">Contact</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>

<div class="container entry-form" ng-controller="EntryFormController">
  <div ng-form="entryForm" role="form">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron" ng-show="showJumbo">
      <h1>Entry Form</h1>
      <p>This page will allow you to select between different F3X events. F3J/TD, F3B, and F3K are supported.</p>
      <p>Once you select an event type you cannot change the type.</p>
      <p>
        <a class="btn btn-lg btn-primary" ng-click="hideJumbo()">OK!</a>
      </p>
    </div>

    <div class="row" ng-cloak>
      <div class="form-group">
        <label class="control-label">Contest Type</label>
        <br />
        <button type="button" class="btn btn-default" placeholder="Type" ng-model="selectedContest.contestType" bs-options="contestType as contestType.name for contestType in contestTypes" bs-select>
          Action <span class="caret"></span>
        </button>
      </div>

      <div class="form-group">
        <label class="control-label">Name</label>
        <input class="form-control" type="text" ng-model="selectedContest.name"></input>
      </div>

      <div class="form-group" ng-class="{'has-error': entryForm.startDate.$invalid}">
        <label class="control-label">Start Date</label>
        <input type="text" class="form-control" ng-model="selectedContest.startDate" placeholder="Start Date" name="startDate" bs-datepicker=""></input>
      </div>

      <div class="form-group" ng-class="{'has-error': entryForm.endDate.$invalid}">
        <label class="control-label">End Date</label>
        <input type="text" class="form-control" ng-model="selectedContest.endDate" placeholder="End Date" name="endDate" bs-datepicker=""></input>
      </div>

      <div class="panel panel-default" ng-class="{'show-pilots': $storage.showPilots}">
        <div class="panel-heading clearfix">
          <h3 class="panel-title pull-left">Pilots</h3>
          <a class="pull-right glyphicon glyphicon-chevron-down" ng-click="togglePilots()"></a>
          <a class="pull-right glyphicon glyphicon-chevron-up" ng-click="togglePilots()"></a>
        </div>
        <ul class="nav nav-pills">
          <li role="presentation" ng-click="addPilot()"><a href=""><span class="glyphicon glyphicon-plus"></span>Add</a></li>
          <li role="presentation"><a href="#">Home</a></li>
        </ul>
        <div class="panel-body">
          Panel content
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Class</th>
              <th>Freq</th>
              <th>Team</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="pilot in selectedContest.pilots">
              <td class="action-column">{{$index + 1}}</td>
              <td>
                <input class="form-control" type="text" placeholder="Pilot Name" ng-model="pilot.name"></input>
              </td>
              <td>
                <button type="button" class="btn btn-default" placeholder="Class" ng-model="pilot.class" bs-options="class for class in pilotClasses" bs-select>
                  Action <span class="caret"></span>
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-default" placeholder="Freq" ng-model="pilot.freq" bs-options="freq for freq in pilotFreqs" bs-select>
                  Action <span class="caret"></span>
                </button>
              </td>
              <td>
                <input type="text" class="form-control" placeholder="Team"></input>
              </td>
              <td class="action-column">
                <a ng-click="removePilot(pilot)" class="delete glyphicon glyphicon-minus-sign" href="" class=""></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div class="row" ng-show="selectedContest.contestType.key == 'f3j'" ng-cloak>
      <h2>F3J or Thermal Duration</h2>
      <ul class="nav nav-pills">
        <li role="presentation" ng-click="addRound()"><a href=""><span class="glyphicon glyphicon-plus"></span>Add Round</a></li>
      </ul>
      <div class="round" ng-repeat="round in selectedContest.rounds">
        <h3>Round <span ng-bind="::round.number"></span></h3> {{number}}
        <table class="table">
          <thead>
            <tr>
              <th>Pilot</th>
              <th>Time</th>
              <th>Landing</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="pilot in selectedContest.pilots">
              <td ng-bind="pilot.name"></td>
              <td>
                <div class="form-inline">
                  <div class="form-group">
                    <label>Min</label>
                    <input class="form-control" type="text" ng-model="pilot.rounds[round.number - 1].time.minutes"></input>
                  </div>
                  <div class="form-group">
                    <label>Min</label>
                    <input class="form-control" type="text" ng-model="pilot.rounds[round.number - 1].time.seconds"></input>
                  </div>
                  <div class="form-group">
                    <label>Min</label>
                    <input class="form-control" type="text" ng-model="pilot.rounds[round.number - 1].time.fraction"></input>
                  </div>
                </div>
              </td>
              <td>
                <input type="text" ng-model="pilot.rounds[round.number - 1].landing"></input>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row" ng-show="selectedContest.contestType.key == 'f3b'" ng-cloak>
      <h2>F3B</h2>
    </div>

    <div class="row" ng-show="selectedContest.contestType.key == 'f3k'" ng-cloak>
      <h2>F3K</h2>
    </div>
    <div class="row">
      {{$storage}}
    </div>

    <div class="row clearfix">
      <button class="pull-right btn btn-primary" ng-click="exportContest()">Export</button>
    </div>
  </div>
</div>
