<!-- Default home page -->
<div class="site-wrapper">
  <link rel="stylesheet" href="pageStyles/homepage.css">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">F3XVault Data Entry</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="/entry">Entry</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">F3XVault Data Entry Application</h1>
        <p class="lead">This web application is designed to allow contest directors to easily enter data into a form that can easily export the file format necessary for <a href="http://www.f3xvault.com" target="_blank">F3XVault</a>.</p>
        <p class="lead">
          <a href="/entry" class="btn btn-lg btn-default">Start Entering Data</a>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </div>

    </div>

  </div>

</div>
