.entry-form {
  padding-top: 6rem;
  margin-bottom: 6rem;
  table.table {
    .time-control {
      width: 8rem;
    }
  }
  ul.nav {
    margin-left: 1rem;
    margin-top: 1rem;
    a {
      color: inherit;
      span {
        margin-right: 0.5rem;
      }
    }
  }
  .form-inline {
    .time-control {
      &.small {
        width: 6rem;
      }
    }
    div.inline.form-group {
      margin-right: 1rem;
      label.control-label {
        margin-right: 0.5rem;
      }
    }
  }
  .vertical-align {
    display: flex;
    align-items: center;
  }
  .glyphicon-chevron-left,
  .glyphicon-chevron-right {
    font-size: 3rem;
    cursor: pointer;
    &:hover {
      color: #286090;
    }
  }
  .glyphicon-chevron-right {
    text-align: right;
  }
}

div.panel {
  &.show-pilots {
    div.panel-heading {
      a.glyphicon-chevron-down {
        display: block;
      }
      a.glyphicon-chevron-up {
        display: none;
      }
    }
    table.table {
      display: table;
    }
    div.panel-body,
    ul.nav {
      display: block;
    }
  }
  div.panel-heading {
    a {
      &.glyphicon {
        &:hover {
          text-decoration: none;
        }
        cursor: pointer;
      }
      &.glyphicon-chevron-down {
        display: none;
      }
      &.glyphicon-chevron-up {
        display: block;
      }
      color: inherit;
    }
  }
  table.table,
  div.panel-body,
  ul.nav {
    display: none;
  }
  table.table {
    td.action-column {
      vertical-align: middle;
      a {
        &:hover {
          text-decoration: none;
        }
        &.delete:hover {
          color: red;
        }
        color: inherit;
      }
    }
  }
}
